

body{font-family: Figtree;
    background-color: hsl(47, 88%, 63%);
    display:flex;
    justify-content: center;
    align-items: center;}

.card-container {width:384px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px #111111;
}

img{width: 336px;
    height:200px;
    background-color: #ffffff;
    align-items: center;
    border-radius: 10px;}

@media only screen and (max-width: 400px) 
{img{width:279px;
height:200px;}}


.content{display:flex;
flex-direction: column;
justify-content:space-between;
align-items: start;}

.category, .date, .title{color:#111111;
}
.description{color:#6b6b6b;}

.category{background-color: hsl(47, 88%, 63%);
    padding:10px;
    border-radius: 10px;
    font-size: 12px;
font-weight: 500;

}
.attribution{align-items: center;}